<div class="span3 well">
      <legend>New to GrumbleHub? Sign up!</legend>
        <%= simple_form_for @user do |f| %>
        <form accept-charset="UTF-8" action="" method="post">
          <%= f.input :username %>
          <%= f.input :password %>
          <%= f.input :avatar %>
           <%= f.button :submit %>
          <%end %>
    
</div>
