<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <%= link_to post.user do %>
            <%= image_tag post.user.avatar, class: "media-object img-circle" %>
            <% end %>
        </div>
        <div class="media-body">
            <%= simple_format post.body %>
            <strong>Posted by
                <%= link_to post.user.username, post.user, class: "btn btn-default" %>
                <%= link_to "#{time_ago_in_words(post.created_at)} ago", post %>
                <% if post.is_owner? current_user %>
                <%= button_to "delete", post, method: :delete, class: "btn btn-danger" %>
                <% end%>
                </strong>
                <div>
                <% if post.picture? %>
                <div class="media-right picture"
                <%= image_tag chirp.photo.versions[:thumb].url, class: "img-responsive", alt: chirp.body %>
              </div>
              <% end %>
              </div>
        </div>
    </div>
</div>
